html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    margin: 0;
    padding: 10px;
    height: 50px;
    background-color: #f4f4f9;
    text-align: center;
}

#map {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
}

#findGymButton {
    position: absolute; 
    bottom: 70px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 10; 
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#backToMapButton {

    position: absolute; 
    bottom: 15px;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 10; 
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}

#findRouteButton {
    position: relative; /* Removed absolute positioning to avoid overlap issues */
    display: inline-block;
    margin-top: 5px; /* Reduced margin to make it more compact */
    background-color: #2c3e50;
    color: white;
    padding: 8px 16px; /* Reduced padding for a smaller button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap; /* Prevent the text from wrapping */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: center;
}

.findRouteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center aligns the button in the container */
    align-items: center;
    padding: 10px; /* Reduced padding for a tighter container */
    min-width: 150px; /* Ensures enough space for the button */
    max-width: 250px; /* Adjusted max width to make it slightly narrower */
    box-sizing: border-box; /* Ensures padding is included in dimensions */
}

.mapboxgl-popup-content {
    overflow: visible; /* Ensures the content inside the popup isn't clipped */
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensures content is centered */
}